@import "./global.scss";

.gites {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &__intro {
        height: 50vh;
        width: 100%;
        background-image: url("../img/gites/intro.jpg");
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &-container {
            height: 50%;
            width: 60%;
            background-color: #fff;
            padding: 2em;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            @media(max-width: $max-width-value) {
                width: 80%;
            }

        }

        &__title {
            &-1 {
                color: $color-orange;
                margin: 0;
                text-transform: none;

                @media(max-width: $max-width-value) {
                    font-size: 25px;
                }

            }

            &-2 {
                color: $color-grey;

                @media(max-width: $max-width-value) {
                    font-size: 20px;
                }

            }
        }
    }

    &__items {
        background-color: $color-orange;
        height: 35vh;
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-radius: 20px;
        color: #fff;
        box-shadow: 8px 8px 19px -4px rgb(0 0 0 / 38%);

        @media(max-width: $max-width-value) {
            width: 80%;
            flex-direction: column;
            height: fit-content;
            align-items: center;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @media(max-width: $max-width-value) {
                flex-direction: column;
            }
        }

        &-container {
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            padding: 4em 0 4em 0;

            @media(max-width: $max-width-value) {
                width: 100%;
            }

        }

        h3 {
            color: #ffb58a;
            font-size: 15px;
        }

        &-img {

            background-size: cover;
            border-radius: 20px;
            overflow: hidden;
            background-repeat: no-repeat;

            &-content {
                height: 100%;
                width: 100%;
            }
        }

        &-button {
            height: 35px;
            width: 200px;
            background-color: unset;
            border: solid 2px #fff;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            cursor: pointer;
            transition: .5s;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                background-color: #fff;
                color: $color-orange;
            }

            &-close {
                height: 35px;
                width: 200px;
                background-color: unset;
                border: solid 2px $color-orange;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-orange;
                cursor: pointer;
                transition: .5s;
                font-weight: bold;
                text-transform: uppercase;

                &:hover {
                    background-color: $color-orange;
                    color: #fff;
                }

            }
        }

        &-infos {
            width: 70%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media(max-width: $max-width-value) {
                padding: 10px 5px 30px 5px;
                align-items: center;
            }

            &-even {
                align-items: flex-end;

                @media(max-width: $max-width-value) {
                    align-items: center;
                }
            }
        }
    }
}

.Overlay {
    background-color: aqua;
}


.Modal {
    margin: 40px 64px 0 64px;
    animation: fadeInUp;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    background-color: white;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 8px 8px 19px -4px rgb(0 0 0 / 38%);

    &__container {
        display: flex;
        width: 100%;
        height: 64vh;
    }

    &__section {
        width: 50%;

        &-text {
            padding-right: 20px;
            line-height: 2em;
        }

        &-img {
            overflow-y: scroll;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        img {
            max-width: 50%;
            height: auto;
            padding: 10px;
            border-radius: 25px;
        }
    }
}