@font-face {
    font-family: "Louis George Cafe";
    src: url("../fonts/Louis-George-Cafe.ttf");
}

@font-face {
    font-family: "Louis George Cafe Light";
    src: url("../fonts/Louis-George-Cafe-Light.ttf");
}

@font-face {
    font-family: "Zachery";
    src: url("../fonts/Zachery.otf");
}


p {
    font-family: "Louis George Cafe";
}

$color-orange : #9c4c1e;
$color-white : #FEFEE2;
$color-grey : #9D9D9C;