@import "./global.scss";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        &-video {
            top: 0;
            width: 100%;
            height: 80vh;
            background-color: $color-orange;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("../img/home/welcome.jpg");
            background-repeat: no-repeat;
            background-size: cover;

            &>img {
                height: 30%;
                animation: slideInUp;
                animation-duration: 1s;
            }
        }

        &-infos {
            display: flex;
            gap: 40px;
            height: 60vh;
            justify-content: center;
            align-items: center;

            &__content {
                width: 100%;
            }
        }

        &-plus {
            border-top: solid 8px $color-grey;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $color-orange;
            height: 90vh;

            &-title {
                font-size: 4em;
                margin: 0;
                color: #fff;
            }

            &-p {
                color: #fff;
                padding-bottom: 2em;
            }

            &__pictures {
                &-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                }

                width: 30%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &__img {
                    width: 100%;
                    border-radius: 2%;
                    box-shadow: 8px 8px 19px -4px rgba(0, 0, 0, 0.38);
                    filter: grayscale(1);
                    transition: filter 0.4s ease-in-out;

                    &:hover {
                        filter: none;
                        animation: pulse;
                        animation-duration: 2s;
                    }
                }

                &__text {
                    text-transform: none;
                    color: $color-white;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 2px;
                        background-color: $color-white;
                        left: 50%;
                        bottom: -6px;
                        transition: all 0.4s ease-in-out;
                    }
                }

                &:hover &__text::after {
                    width: 100%;
                    left: 0;
                }


            }
        }
    }
}

.carousel__img {
    width: 100%;
    border-radius: 2%;
}